/* --- General --- */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

h1 {
  margin: 0 0 30px 10px;
}

h2 {
  margin: 0 10px;
  border-bottom: 1px solid gray;
}

h3 {
  margin: 16px 0;
  border-bottom: 1px solid lightgray;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}